<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Part_two_test.Properties.Settings.ProgPart2_TestConnectionString"
            connectionString="Data Source=TOBYLAP\SQLEXPRESS;Initial Catalog=ProgPart2_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>